<p id="notice"><%= notice %></p>

<h1>Attribuutit</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nimi</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ref_attributes.each do |ref_attribute| %>
      <tr>
        <td><%=  link_to ref_attribute.name,edit_ref_attribute_path(ref_attribute) %></td>
        <td><%= link_to 'Poista', ref_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table->

<br>

<%= link_to 'Luo uusi attribuutti', new_ref_attribute_path %>
