<p id="notice"><%= notice %></p>

<p>
  <strong>Nimi:</strong>
  <%= @ref_attribute.name %>
</p>

<%= link_to 'Edit', edit_ref_attribute_path(@ref_attribute) %> |
<%= link_to 'Back', ref_attributes_path %>
